<div class="row m-3">
    <div class="card col-md-5 text-center">
        <div class="col">
            <div class="mb-3 mt-3">
                <img src="assets/profil.jpg" class="rounded" width="150px" height="150px">
            </div>
            <div class="mb-3">
                <h2>Nom Prenom</h2>
                <small class="form-text text-muted">Adresse, Ville, 123</small>
            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mr-2"><i
                        class="fa-solid fa-user-pen"></i>&nbsp;Modifier</button>
                <button type="button" class="btn btn-warning" (click)="changerMotDePasse()"><i
                        class="fa-solid fa-user-lock"></i>&nbsp;Changer le mot
                    de passe</button>
            </div>
        </div>
    </div>
    <div class="card col-md-6 ml-3">
        <table class="table mt-3">
            <tbody>
                <tr>
                    <th><i class="fa-regular fa-user"></i>&nbsp;Nom complet</th>
                    <td>Maher Thamri</td>
                </tr>
                <tr>
                    <th><i class="fa-regular fa-envelope"></i>&nbsp;Email</th>
                    <td>adresse@gmail.com</td>
                </tr>
                <tr>
                    <th><i class="fa-solid fa-phone"></i>&nbsp;Téléphone</th>
                    <td>+216 24491634</td>
                </tr>
                <tr>
                    <th><i class="fa-solid fa-location-dot"></i>&nbsp;Adresse</th>
                    <td>Adresse, Ville, 12345</td>
                </tr>
                <tr>
                    <th><i class="fa-regular fa-building"></i>&nbsp;Entreprise</th>
                    <td>Nom entreprise</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>