<div class="container my-container">
    <div class="card  justify-content-center">
        <div class="card-header text-center">
            <h3>Se connecter</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="authenticationRequest">
                <div class="mb-3">
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="E-mail">
                    <div class="text-danger"
                        *ngIf="authenticationRequest.controls['email'].invalid &&(authenticationRequest.controls['email'].dirty || authenticationRequest.controls['email'].touched) ">
                        <div *ngIf="authenticationRequest.controls['email'].errors?.['required']">
                            L'adresse e-mail est obligatoire.
                        </div>
                        <div *ngIf="authenticationRequest.controls['email'].errors?.['email']">
                            Adresse e-mail invalide.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" formControlName="password" id="password"
                        placeholder="Mot de passe">
                    <div class="text-danger"
                        *ngIf="authenticationRequest.controls['password'].invalid &&(authenticationRequest.controls['password'].dirty || authenticationRequest.controls['password'].touched) ">
                        <div *ngIf="authenticationRequest.controls['password'].errors?.['required']">
                            Mot de passe est obligatoire.
                        </div>
                        <div *ngIf="authenticationRequest.controls['password'].errors?.['minlength']">
                            Longueur minimale est de 6 caractères.
                        </div>
                        <div *ngIf="authenticationRequest.controls['password'].errors?.['maxlength']">
                            Longueur maximale est de 20 caractères.
                        </div>
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <a [routerLink]="['/inscrire']" class="btn btn-link">S'inscrire</a>
                    <button type="button" class="btn btn-primary" [disabled]="authenticationRequest.invalid"
                        (click)="login()">
                        <i class="fa-solid fa-check"></i>&nbsp;Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>